/* Cards */
.card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2d3a;
  margin-bottom: 1rem;
}
.blue {
  color: #0083ff;
  border: 1px solid #101731;
  border-radius: 7px;
}

/* Card_red */
.red {
  color: #ff0000;
  border: 1px solid #ff000050;
  border-radius: 7px;
}
/* Card hover */
.blue:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px#0084ff90;
  transition: 0.2s ease-in-out;
}

/* Card hover */
.red:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 15px#ff000090;
  transition: 0.2s ease-in-out;
}

/* Button at the right bottom of the card */
.status_button {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-left: auto;
  padding: 0px;
}

.card > h2,
.card > h3,
.card_red > h2,
.card_red > h3 {
  background: none;
}

/* Card title */
.card > h3,
.card_red > h3 {
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
}
.card > h2 {
  font-weight: 100;
  font-size: 70px;
  display: flex;
  align-items: baseline;
}
.card_red > h2 {
  font-weight: 100;
  font-size: 40px;
  margin-top: 10px;
}
.card_red > h2 {
  font-weight: 100;
  font-size: 40px;
  margin-top: 10px;
}
.card__value > span {
  font-size: 30px;
  margin-left: 0;
  background: transparent;
}
.card__more_link {
  text-decoration: none;
  color: white;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}
.status_bigAlert {
  background: none;
  width: 125px;
}

/* corners */
.tl {
  border-radius: 30px 7px 7px 7px;
}
.tr {
  border-radius: 7px 30px 7px 7px;
}
.br {
  border-radius: 7px 7px 30px 7px;
}
.bl {
  border-radius: 7px 7px 7px 30px;
}
